{% extends "site_web/base.html" %} {% block title %}

<title>RepXP | Révision d'exercices</title>

{% endblock %} {% block navigation %}

<a href="#" >BANQUE D'EXERCICES</a>
<a href="#" >CRÉATION D'EXERCICES</a>
<a href="#" class="active-link">VÉRIFICATION D'EXERCICES</a>

{% endblock %} {% block main %}

{% if exercices %}
    {% for exercice in exercices %}
    <div class="background-form">

    </div>
    {% endfor %}
{% else %}
<p class="text-center">Aucun exercice est en attente d'être approuvé !</p>
{% endif %}

{% endblock %}
