{% extends "site_web/base.html" %}
{% block title %}
    <title>RepXP | Exercices</title>
{% endblock %} {% block navigation %}

<a href="{% url 'bank' %}" class="inactive-link">BANQUE D'EXERCICES</a>

{% if est_admin %}

<a href="{% url 'creer_exercice' %}" class="active-link">CRÉATION D'EXERCICES</a>
<a href="{% url 'review' %}" class="inactive-link">VÉRIFICATION D'EXERCICES</a>

{% else %}
<a href="{% url 'proposer_exercice' %}" class="inactive-link">PROPOSITION D'EXERCICES</a>
{% endif %}

{% endblock %} {% block main %}
    {% if messages %}
        <div class="mb-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} text-center" style="border-radius:0.5rem;">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <form class="form-group background-form" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="mb-3 p-4">
            <h2 class="text-center">CRÉER UN EXERCICE</h2>

            <div class="mb-3">
                <label for="{{ form.nom.id_for_label }}" class="form-label">Nom</label>
                {{ form.nom }}
                {% if form.nom.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.nom.errors.0 }}
                    </div>
                {% endif %}
            </div>

            <label for="{{ form.groupe_musculaire.id_for_label }}" class="form-label mt-3 fw-semibold">Groupe musculaire</label>
            {{ form.groupe_musculaire }}
            {% if form.groupe_musculaire.errors %}
                <div class="invalid-feedback d-block">
                    {{ form.groupe_musculaire.errors.0 }}
                </div>
            {% endif %}

            <label for="{{ form.series_sugg.id_for_label }}" class="form-label mt-3 fw-semibold">Séries suggérées</label>
            {{ form.series_sugg }}
            {% if form.series_sugg.errors %}
                <div class="invalid-feedback d-block">
                    {{ form.series_sugg.errors.0 }}
                </div>
            {% endif %}

            <label for="{{ form.reps_sugg.id_for_label }}" class="form-label mt-3 fw-semibold">Répétitions suggérées</label>
            {{ form.reps_sugg }}
            {% if form.reps_sugg.errors %}
                <div class="invalid-feedback d-block">
                    {{ form.reps_sugg.errors.0 }}
                </div>
            {% endif %}

            <label for="{{ form.description.id_for_label }}" class="form-label mt-3 fw-semibold">Description</label>
            {{ form.description }}
            {% if form.description.errors %}
                <div class="invalid-feedback d-block">
                    {{ form.description.errors.0 }}
                </div>
            {% endif %}

            <label for="{{ form.image.id_for_label }}" class="form-label mt-3 fw-semibold">Image</label>
            {{ form.image }}

            <div class="d-flex justify-content-center mt-3">
                <input type="reset" class="form-control mt-3 style-button-danger w-50" value="RÉINITIALISER">
                <input type="submit" class="form-control mt-3 style-button w-50" value="CRÉER">
            </div>
        </div>
    </form>

{% endblock %}