{% extends "site_web/base.html" %} {% block title %}

<title>RepXP | Révision d'exercices</title>

{% endblock %} {% block navigation %}

<a href="{% url 'bank' %}" class="inactive-link">BANQUE D'EXERCICES</a>

{% if est_admin %}

<a href="{% url 'creer_exercice' %}" class="inactive-link"
  >CRÉATION D'EXERCICES</a
>
<a href="{% url 'review' %}" class="active-link">VÉRIFICATION D'EXERCICES</a>

{% else %}
<a href="{% url 'proposer_exercice' %}" class="inactive-link">PROPOSITION D'EXERCICES</a>
{% endif %} {% endblock %} {% block main %} {% if exercices %}
<form
  class="form-group background-form"
  method="post"
  enctype="multipart/form-data"
  novalidate
>
  {% csrf_token %}
  <div class="mb-3 p-4">
    <div class="d-flex justify-content-center">
      <p class="notif">{{ to_review }}</p>
    </div>

    {% for field in form %}
    <label for="{{ field.id_for_label }}" class="form-label m-0 fw-semibold"
      >{{ field.label }}</label
    >
    {{ field }} {% if field.errors %}
    <div class="text-danger">
      {% for error in field.errors %}
      <small>{{ error }}</small>
      {% endfor %}
    </div>
    {% endif %} {% endfor %}

    <div class="d-flex justify-content-center mt-3">
      <input
        name="action"
        type="submit"
        class="form-control mt-3 style-button-danger w-50"
        value="REFUSER"
      />
      <input
        name="action"
        type="submit"
        class="form-control mt-3 style-button w-50"
        value="ACCEPTER"
      />
    </div>
  </div>
</form>
{% else %}
<p class="text-center text-blue mt-3">
  Aucun exercice est en attente d'être approuvé !
</p>
{% endif %} {% endblock %}
