{% extends "site_web/base.html" %}
{% block title %}
    <title>RepXP | Modification d'entraînements</title>
{% endblock %} {% block navigation %}

<a href="{% url 'edit_workout' entrainement.id %}" class="active-link">MODIFICATION D'ENTRAÎNEMENTS</a>

{% endblock %} {% block main %}
    <form class="form-group background-form" method="post" novalidate>
        {% csrf_token %}
        <div class="mb-3 p-4">
            <h2 class="text-center">MODIFIER L'ENTRAÎNEMENT {{entrainement.id}}</h2>

            <div class="mb-3">
                <label for="{{ form.nom.id_for_label }}" class="form-label fw-semibold">Nom</label>
                {{ form.nom }}
                {% if form.nom.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.nom.errors.0 }}
                    </div>
                {% endif %}
            </div>

            <div class="row g-2 my-2">
                <div class="col-6">
                    <label for="{{ form.exercice_1.id_for_label }}" class="form-label fw-semibold">Exercice 1</label>
                    {{ form.exercice_1 }}
                    {% if form.exercice_1.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.exercice_1.errors.0 }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-3">
                    <label for="{{ form.sets_1.id_for_label }}" class="form-label fw-semibold">Séries</label>
                    {{ form.sets_1 }}
                    {% if form.sets_1.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.sets_1.errors.0 }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-3">
                    <label for="{{ form.reps_1.id_for_label }}" class="form-label fw-semibold">Répétitions</label>
                    {{ form.reps_1 }}
                    {% if form.reps_1.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.reps_1.errors.0 }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="row g-2 my-2">
                <div class="col-6">
                    <label for="{{ form.exercice_2.id_for_label }}" class="form-label fw-semibold">Exercice 2</label>
                    {{ form.exercice_2 }}
                    {% if form.exercice_2.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.exercice_2.errors.0 }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-3">
                    <label for="{{ form.sets_2.id_for_label }}" class="form-label fw-semibold">Séries</label>
                    {{ form.sets_2 }}
                    {% if form.sets_2.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.sets_2.errors.0 }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-3">
                    <label for="{{ form.reps_2.id_for_label }}" class="form-label fw-semibold">Répétitions</label>
                    {{ form.reps_2 }}
                    {% if form.reps_2.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.reps_2.errors.0 }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row g-2 my-2">
                <div class="col-6">
                    <label for="{{ form.exercice_3.id_for_label }}" class="form-label fw-semibold">Exercice 3</label>
                    {{ form.exercice_3 }}
                    {% if form.exercice_3.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.exercice_3.errors.0 }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-3">
                    <label for="{{ form.sets_3.id_for_label }}" class="form-label fw-semibold">Séries</label>
                    {{ form.sets_3 }}
                    {% if form.sets_3.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.sets_3.errors.0 }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-3">
                    <label for="{{ form.reps_3.id_for_label }}" class="form-label fw-semibold">Répétitions</label>
                    {{ form.reps_3 }}
                    {% if form.reps_3.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.reps_3.errors.0 }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row g-2 my-2">
                <div class="col-6">
                    <label for="{{ form.exercice_4.id_for_label }}" class="form-label fw-semibold">Exercice 4</label>
                    {{ form.exercice_4 }}
                    {% if form.exercice_4.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.exercice_4.errors.0 }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-3">
                    <label for="{{ form.sets_4.id_for_label }}" class="form-label fw-semibold">Séries</label>
                    {{ form.sets_4 }}
                    {% if form.sets_4.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.sets_4.errors.0 }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-3">
                    <label for="{{ form.reps_4.id_for_label }}" class="form-label fw-semibold">Répétitions</label>
                    {{ form.reps_4 }}
                    {% if form.reps_4.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.reps_4.errors.0 }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <input type="reset" class="form-control mt-3 style-button-danger w-50" value="RÉINITIALISER">
                <input type="submit" class="form-control mt-3 style-button w-50" value="MODIFIER">
            </div>
        </div>
    </form>
{% endblock %}
