{% extends "site_web/base.html" %}
{% block title %}
    <title>RepXP | Mes entraînements</title>
{% endblock %} {% block navigation %}

<a href="{% url 'my_workouts' %}" class="active-link">MES ENTRAÎNEMENTS</a>
<a href="{% url 'new_workout' %}" class="inactive-link">CRÉATION D'ENTRAÎNEMENTS</a>

{% endblock %} {% block main %}

<form method="get" class="my-3 pb-2 text-center d-flex justify-content-center">
    <input type="text" name="recherche" class="form-control w-25 me-3" placeholder="Rechercher un entrainement...">
    <button class="style-button" type="submit">RECHERCHER</button>
</form>

{% if entrainements %}
    <div class="accordion" id="workoutsAccordion">
    {% for entrainement in entrainements %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}">
                    <img src="../../../static/images/dumbbells.png" alt="default" class="exercice-image me-2">
                    <strong class="text-blue">{{ entrainement.nom }}</strong>
                </button>
            </h2>
            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#workoutsAccordion">
                <div class="accordion-body d-flex justify-content-between">
                    {% for exo_ent in entrainement.exerciceentrainement_set.all %}
                        <p class="mb-0"><a class="text-decoration-none" href="{% url 'bank' %}?recherche={{ exo_ent.exercice.nom }}">{{ exo_ent.exercice.nom }}</a> - {{ exo_ent.sets }} séries de {{ exo_ent.reps }} répétitions</p>
                        <div>
                            <a href="#"><img src="../../../static/images/edit.svg" alt="default" class="me-0 edit-img"></a>
                            <a href="{% url 'delete_workout' entrainement.id %}"><img src="../../../static/images/delete.svg" alt="default" class="me-0 ms-2 edit-img"></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>Aucun entrainement enregistré pour l'instant.</p>
{% endif %}

{% endblock %}