{% extends "site_web/base.html" %}
{% block title %}
    <title>RepXP | Création d'entrainements</title>
{% endblock %} {% block navigation %}

<a href="{% url 'my_workouts' %}" class="inactive-link">MES ENTRAÎNEMENTS</a>
<a href="{% url 'new_workout' %}" class="active-link">CRÉATION D'ENTRAÎNEMENTS</a>

{% endblock %} {% block main %}
    {% if messages %}
        <div class="mb-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} text-center" style="border-radius:0.5rem;">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <form class="form-group background-form" method="post" novalidate>
        {% csrf_token %}
        <div class="mb-3 p-4">
            <h2 class="text-center">CRÉER UN ENTRAÎNEMENT</h2>

            <div class="mb-3">
                <label for="{{ form.nom.id_for_label }}" class="form-label">Nom</label>
                {{ form.nom }}
                {% if form.nom.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.nom.errors.0 }}
                    </div>
                {% endif %}
            </div>

            <label for="{{ form.exercice.id_for_label }}" class="form-label mt-3 fw-semibold">Exercice</label>
            {{ form.exercice }}
            {% if form.exercice.errors %}
                <div class="invalid-feedback d-block">
                    {{ form.exercice.errors.0 }}
                </div>
            {% endif %}

            <label for="{{ form.sets.id_for_label }}" class="form-label mt-3 fw-semibold">Séries</label>
            {{ form.sets }}
            {% if form.sets.errors %}
                <div class="invalid-feedback d-block">
                    {{ form.sets.errors.0 }}
                </div>
            {% endif %}

            <label for="{{ form.reps.id_for_label }}" class="form-label mt-3 fw-semibold">Répétitions</label>
            {{ form.reps }}
            {% if form.reps.errors %}
                <div class="invalid-feedback d-block">
                    {{ form.reps.errors.0 }}
                </div>
            {% endif %}

            <div class="d-flex justify-content-center mt-3">
                <input type="reset" class="form-control mt-3 style-button-danger w-50" value="RÉINITIALISER">
                <input type="submit" class="form-control mt-3 style-button w-50" value="CRÉER">
            </div>
        </div>
    </form>
{% endblock %}
