{% extends 'site_web/base.html' %}

{% block title %}
    <title>RepXP | Connexion</title>
{% endblock %}

{% block navigation %}
    <a href="{% url 'signin' %}" class="active-link">CONNEXION</a>
    <a href="{% url 'signup' %}" class="inactive-link">INSCRIPTION</a>
{% endblock %}

{% block main %}
    <form class="form-group background-form" method="post" novalidate>
        {% csrf_token %}
        <div class="mb-3 p-4">
            {% for field in form %}
                <label for="{{ field.id_for_label }}" class="form-label m-0 fw-semibold">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="text-danger">
                        {% for error in field.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="d-flex justify-content-center mt-3">
                <input type="submit" class="form-control style-button mt-3" value="SE CONNECTER">
            </div>
        </div>

    </form>
{% endblock %}