@use "bootstrap"

.background-form
  background-color: #033050
  border-radius: 12px
  box-shadow: 0 4px 12px rgba(0,0,0,0.1)
  margin: 50px auto
  width: 50%
  color: #fff

.style-button
  background-color: #6EE22A
  color: #033050
  font-size: 1.4rem
  font-weight: bold
  padding: 8px 20px
  border-radius: 10px
  text-decoration: none
  margin: 0 5px
  transition: 0.3 #7bff2e

.navigation
  background-color: #033050
  height: 100px
  width: 100%
  padding-top: 35px
  a
    color: #ffffff9d
    text-decoration: none
    margin: 0 40px
    font-size: 1.8rem
    font-weight: bold

.active-link
  color: #fff !important